{% set networkData   = _Network.getNetworkData() %}

{% set limit = 8 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}
{% set articleCount = 0 %}


<main id="main" class="container site-main" role="main">
    
    <section class="row main">

        <div id="owl-thumbnails" class="owl-carousel">
            {% for article in articles %}  
                {% if articles[articleCount] %}
                    {{this.render('partials/_single-article.twig', {
                        article: articles[articleCount], 
                        position: (articleCount+1),
                        hash: loop.index,
                        imageSize: {width: 330, height: 235},
                        containerClass: 'card-sm'
                    }) | raw}}
                    {% set articleCount = articleCount + 1 %}
                {% endif %}
            {% endfor %}
        </div>



    </section>


</main>