{{ set(this, 'title', _Blog.getBlogTitle()) }}
{% set networkData = _Network.getNetworkData() %}




{{this.registerJs("CardController();")}}

{% set limit = 10 %}

{% set articlesArr = _Blog.getBlogFeed({'limit': limit, 'offset': 0}) %}
{% set articles = articlesArr.articles %}

{% set events = _Event.getEvents() %}


<!-- used to index each article as we loop over throughout the template -->
{% set articleCount = 0 %}
{% set testCount = 0 %}



    <main id="main" class="index_container site-main" role="main">
        


        <section class="row">
            <div class="col-sm-12">
                <h1>Landing page</h1>
            </div>



        </section>


    </main><!-- .site-main -->