{% set networkData   = _Network.getNetworkData() %}


<main id="main" class="container site-main" role="main">
    
    <section class="row main">
        <div class="col-sm-9">
            <div class="row">
                <div class="col-sm-3 logo">
                    <img src="{{networkData.templatePath}}/static/images/get-em-on-side-logo.jpg?v=4">
                </div>
                


                <div class="col-sm-6 subdetails">


                    <section class="subscribe">
                        
                        <h1>COMING SOON</h1>
                        <p>Register for our free newsletter</p>

                        <div class="input-group subscribe-group">
                            
                        <!-- Begin MailChimp Signup Form -->

                        <div id="mc_embed_signup">
                            <form   action="//getemonside.us16.list-manage.com/subscribe/post?u=19a286b6a701993a54be44c9b&amp;id=dc1298a714" 
                                    method="post" 
                                    id="mc-embedded-subscribe-form" 
                                    name="mc-embedded-subscribe-form" 
                                    class="validate" 
                                    target="_blank" 
                                    novalidate>

                                <div id="mc_embed_signup_scroll">
                                    <input type="email" value="" name="EMAIL" class="field form-control" id="mce-EMAIL" placeholder="Email address" required>
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                        <input type="text" name="b_19a286b6a701993a54be44c9b_dc1298a714" tabindex="-1" value="">
                                    </div>
                                        {# <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"> #}
                                    <button class="btn btn-default" type="submit" id="mc-embedded-subscribe">
                                        <span class="icon-submit icon"></span>
                                    </button>

                                </div>
                            </form>
                        </div>

                            <!--End mc_embed_signup-->

                    </section>



                </div>





        </div>



    </section>


</main>