body.layout-article-gallery {

	article.article-main {

		position:relative;
		.page-content {

			.image-container {
				min-height: 850px;
				figure.featured {
					height:440px;

					@media screen and (max-width : $sm-break-down) {
						height:60vw;
					}


					figcaption {
						width:600px;
						margin-top:40px;
						float: left;

						@media screen  and (max-width : 992px) {
							width:100%;
						}
					}
				}
			}
		}
		.sidebar {
			z-index:10000;
			display: inline-block;
		    position: absolute;
		    right: 0;
		    top: 635px;

		    @media screen and (max-width : $mmd-break-down) {
				position:static;
				margin-top:40px;
		    }

		}

	}

}

body.article {


}
