@mixin card-home-feature-base() {

    a.card {
        @include card-image-full;
        position:relative;

        height:100%;
        color:$white;

        > article {
            > figure {
                @include gradientafter;
            }
            > .content{
                width:100%;

                > .category{
                    color:white;
                }
                > h2{
                    font-family: $headings-font-family;
                    font-weight: 700;
                    margin-top: 0;
                    overflow:hidden;
                    margin-bottom:20px;
                    height: 85px;
                    max-width:353px;
                    line-height: 1.18;

                }
                > p.excerpt {
                    display:none;
                }

                .author{

                    &.video {
                        .icon {
                            display:none;
                        }
                    } 
                    
                    p{
                        font-family: $font-family-sans-serif;
                        color:white;
                        border-right: 1px solid white; line-height: 1;;
                    }
                    >time {
                        color:white;
                    }
                }
                
                > time{
                }
            }
        }
        &.without__image {
        
            background:color(white);

            article {
                > .content {
                    color:color(red);

                    .category{
                        color:color(darkgrey);
                        // &:before {
                        //     background: url(../images/black-arrow.svg);
                        //     background-repeat:no-repeat;
                        // }
                    }
                    .author {
                        >p {
                            color:color(darkgray);
                            border-right:1px solid color(darkgray);
                        }
                        time {
                            color:color(darkgray);
                        }

                    }

                }
            }
        }   
        &.social {
            .content {
                .icon {
                    display: inline-block;
                }

                >p {
                    margin-top: 5px;
                    height:84px;
                    font-size:rem(22);
                    line-height:1.27;
                    // margin-bottom: 10px;
                }

                > .author {
                    .icon {
                        display: none;
                    }
                }
            }
            &.twitter {    
                &:before{
                    @include inverseTwitterCorner();
                }

                &.without__image {
                    &:before{
                        @include twitterCorner();
                    }                    
                    .content {
                        > p {
                            color:black;
                        }
                    }
                }
            }


            &.facebook {    
                &:before{
                    @include inverseFacebookCorner();
                }

                &.without__image {
                    &:before{
                        @include facebookCorner();
                    }                    
                    .content {
                        > p {
                            color:black;
                        }
                    }
                }
            }


            &.instagram{
                &:before{
                    @include instagramCorner();
                }

                &.without__content {
                    .content {
                        > p {
                            height: 20px;
                        }
                        .icon {
                            display: inline-block;
                        }
                    }
                }
            }
        }

    }
}


.home-feature {
    @media screen and (min-width: $mmd-break){
        @include card-home-feature-base();

        height:400px;

        a.card {
            article {
                > .content {
                    position: absolute;
                    bottom: 30px;
                    padding-right: 30px;
                    padding-left: 30px;

                    h2{
                        font-size: rem(34);
                    }
                }
            }
        }
    }
}


.home-feature-tablet {
    @media screen and (min-width: $sm-break) and (max-width: $mmd-break-down) {
        @include card-home-feature-base();

        height:295px;
        a.card {
            article {
            
                > .content {
                    width:100%;
                    padding: 140px 20px 10px 30px;

                    .category{
                        font-size:rem(10);
                    }

                    h2{
                        font-size: rem(24);
                    }
                }
            }
        }
    }
}






.home-feature-mobile {
    @media screen and (max-width: $sm-break-down){
        @include card-home-feature-base();

        margin-bottom:20px;
        height:60vw;

        a.card {
            article {
        
                > .content {
                    padding: 0 20px 15px 10px;
                    position:absolute;
                    bottom:0;

                    .category{
                        margin-bottom:5px;
                    }

                    h2{
                        font-size: rem(26);
                        margin-bottom: 5px;
                        height: 60px;
                        line-height: 1.15;
                    }
                }
            }

            &.social {
                .content {

                    padding: 16px 20px 5px 10px;

                    .icon {
                        margin-bottom:45px;
                    }

                    > p {
                        font-size: rem(26);
                        margin-top: 5px;
                        min-height:20px;
                        height: 60px;
                        line-height: 1.15;
                    }
                }

                &.twitter, &.instagram{
                    .content{
                        >p {
                            height:45px;
                            font-size:rem(18);
                            line-height:1.22;
                            margin-bottom:10px;
                        }

                    }
                }

                &.instagram{
                    &.without__content {
                        .content {
                            .icon {
                                margin-bottom: 90px;
                            }
                            >p {
                                margin:0;
                            }
                        }
                    }
                }
                &.youtube{
                    .content{
                        .icon {
                            margin-bottom:90px;
                        }
                    }
                }
            }
        }
    }
}
