@mixin card-rec-base() {
    a.card {
        position: relative;
        // background: pink;
        article {
            position:relative;

            > figure {
                margin-right:24px;

                &.video {
                    &:before{
                        display: none;
                    }
                }
            }

            > .content {
                width:100%;
                height:100%;
                position:relative;
                padding-top:6px;

                > .category{
                }
                > h2{
                    font-family:$font-family-serif;
                    font-weight:bold;
                    margin-top: 12px;
                }
                >p.excerpt {
                    display:none;
                }

                > .author {
                    position: absolute;
                    bottom: 2px;
                    line-height:1.67;
                    &.video {
                        .icon {
                            @include smallVideoIcon();
                        }
                    }
                    .icon {
                        position: relative;
                        bottom:-8px;
                    }               
                }
            }
        }

        &.without__image {    
            .content {
                height:100%;

                h2 {
                    font-family:$font-family-serif;
                    font-size: rem(24);
                    font-weight:bold;
                    margin-top: 12px;
                    line-height: 1.33;
                }

                p.excerpt {
                    display: none;
                }
            }
        }  

        &.social {
            // background: pink;

            > article {
                > .content {
                    > .author {
                        > p {
                            border: none;
                        }
                        > time {
                            display: none;
                        }
                    }
                }
            }

            .author {
                position: absolute;
                bottom: 0;
            }

            .content {
                .icon {
                    display:none;
                }
            }

            &.twitter{
                .category {
                    display: none;
                }
                .content{
                    > .author {
                        .icon {
                            @include twitterIcon();
                        }
                    }                    
                    >p {
                        padding-top:28px;
                        font-size:rem(18);
                        max-height:84px;
                        font-weight:normal;
                        line-height:1.44;
                    }
                }
            }



            &.facebook{
                .category {
                    display: none;
                }
                .content{
                    > .author {
                        .icon {
                            @include facebookIcon();
                        }
                    }                    
                    >p {
                        padding-top:28px;
                        font-size:rem(18);
                        max-height:84px;
                        font-weight:normal;
                        line-height:1.44;
                    }
                }
            }
            
            &.instagram{
                @include card-image-full;
                text-align: center;

                .content{
                    color: white;
                    >p {
                        padding-top: 15px;
                        color: white;
                        font-size:rem(18);
                        font-weight:normal;
                        line-height:1.33;
                        height:47px;
                    }
                    > .icon {
                        @include instagramIcon();
                        margin: 5px;                       
                    }
                    .category {
                        color: white;
                    }
                    .author {
                        > * {
                            color: white;
                        }
                        > p {
                            // border-right: 1px solid white; line-height: 1;
                        }                        
                        position: relative;
                    }
                }

                // &:not(without__content) {
                //     .content {
                //         .author {
                //             bottom: -26px;
                //         }
                //     }
                // }

                &.without__content {
                    .content {
                        > .icon {
                            @include instagramIcon();
                            margin-top: 65px;   
                            margin-bottom: 20px;                    
                        }
                        > p {
                            display: none;
                        }
                    }           
                }
            }
        }

        &.video, &.instagram {
            > article {
                @include tintbefore(0.5, 2);
            }
        }
    }
}



.card-rec{
    @media screen and (min-width: $mmd-break){
        @include card-rec-base();

        height:159px;
        
        a.card {
            @include card-image-left(234px, 159px);
            

            height:100%;

            article {

                > .content {

                    h2{
                        font-size: rem(24);
                        margin-bottom:14px;
                        padding-bottom:18px;
                        height:82px;
                        border-bottom: 1px solid color(lightergrey);
                        line-height: 1.3;
                    }
                }
            }
        }
    }
}







.card-rec-tablet{
    @media screen and (min-width: $sm-break) and (max-width: $mmd-break-down) {
        @include card-rec-base();

        height:140px;

        a.card {
            @include card-image-left(215px, 140px);

            height:100%;

            article {
                > .content {

                    .category {
                        font-size: rem(10);
                    }

                    h2{
                        font-size: rem(16);
                        height:82px;
                        border-bottom: 1px solid color(lightergrey);
                        line-height: 1.3;

                    }

                    .author{
                        p {
                            font-size: rem(10);
                        }
                    }
                }
            }
        }
    }
}


.card-rec-mobile{
    @media screen and (max-width: $sm-break-down){
        @include card-rec-base();
        margin-bottom:7vw;

        height:auto;
        


        a.card {
            @include card-image-top(auto, auto);
            

            height:100%;

            article {
                > figure {
                    margin-right:0;
                    margin-bottom:10px;
                }

                > .content {


                    h2{
                        font-size: rem(14);
                        font-weight:700;
                        margin-top:5px;
                        margin-bottom:10px;
                    }

                    .author{
                        position:static;
                        p{
                            font-size: rem(12);
                        }
                    }
                }
            }
        }
    }
}

