@mixin card-sm-wide-base() {
    position:relative;

    p { 
        font-family:$font-family-sans-serif;
    }

    a.card {
        @include card-image-top(auto, 160px);
        height:250px;

        > article {
            position:relative;
            > figure{
                &.video {
                    &:before{
                        @include videoIconMiddle();
                    }
                }                
            }
            > .content{
                position:relative;
                padding:0;
                > .category{
                }
                > h2{
                    display: none;
                    // background:orange;
                }
                > p.excerpt {
                    line-height: 1.33;
                    // background:pink;
                }
                .author {
                    font-family:$font-family-sans-serif;

                    img {
                    }
                    p {
                        font-family: inherit;
                    }
                    > time {
                    }
                    &.video {
                        .icon {
                            display: none;
                        }
                    }
                    .icon {
                        position: relative;
                        bottom:-5px;
                    }                                     
                }
                    
                > time{
                }
            }
        }


        &.without__image {
            background:color(white);
            .content {
                >.category{
                    line-height: 1.43;
                }
                padding:36px 30px;

                height:100%;

                h2 {
                    display: none; // checking with anita
                }

                >p.excerpt {
                    display:block;
                    font-size: rem(15);
                    height:80px;
                    max-height:80px;
                    line-height: 1.33;
                    margin-top: 7px;
                }

                .author {
                    position: absolute;
                    bottom:0px;
                    font-family:$font-family-sans-serif;
                    // display:block;
                    padding-bottom: 36px;
                }

            }
        } 

        &.social {
            // background: pink;
            > article {
                .content {
                    .author {
                        .icon {
                            display: none;
                        }                    
                    }
                }

                &.twitter {
                    > figure{
                        &:before{
                            @include twitterIconMiddle();
                        }
                    }                    
                }

                &.facebook {
                    > figure{
                        &:before{
                            @include facebookIconMiddle();
                        }
                    }                    
                }

                &.instagram {
                    > figure{
                        &:before{
                            @include instagramIconMiddle();
                        }
                    }                    
                }
            }  
        }

        &.instagram {
            &.without__content {
                @include card-image-top(auto, 209px);
                > article {
                    .content {
                        .author {
                            margin-top: 0;
                        }
                    }
                    > figure {
                        &:before{
                            @include instagramIconMiddle();
                            top:95px;
                        }                        
                    }
                }
            }
        }

    }
}









.card-sm-wide{
    @media screen and (min-width: $sm-break){
        @include card-sm-wide-base();

        a.card {
            
            > article {

                > figure{
                    margin-bottom:6px;
                }

                > .content{

                    > h2{
                        font-size: rem(17);
                        line-height:1.29;
                        margin-top:5px;
                        max-height:22px;
                    }

                    > p.excerpt {
                        font-size: rem(15);
                        height:40px;
                        margin-top: 3px;
                    }

                    > .author{
                        margin-top:5px;
                        position: static;

                        >p {
                            margin: 0;
                            padding: 0;
                            padding-right:5px;
                        }                        
                    }
                }
            }


            &.without__image {
                .content {
                    h2 {
                        max-height:80px;
                    }
                }
            }

            // &.social {
            //     .content {
            //         .author {
            //             bottom: 2px;
            //         }
            //         .p {
            //             font-size: rem(15);
            //             line-height: 1.33;
            //             height:80px;
            //         }
            //     }


            //     &.twitter{
            //         .content{
            //             > .author {
            //                 .icon {
            //                     @include twitterIcon();
            //                 }
            //             }                    
            //             >p {
            //                 font-size:rem(20);
            //                 font-weight:600;
            //                 line-height:1.33;
            //                 max-height:80px;
            //             }
            //         }
            //         &.without__image {
            //             .content{
            //                 >p {
            //                     font-size:rem(18);
            //                     max-height:84px;
            //                     font-weight:normal;
            //                     line-height:1.56;
            //                 }
            //             }
            //         }
            //     }



            //     &.facebook{
            //         .content{
            //             > .author {
            //                 .icon {
            //                     @include facebookIcon();
            //                 }
            //             }                    
            //             >p {
            //                 font-weight:600;
            //                 line-height:1.33;
            //             }
            //         }
            //         &.without__image {
            //             .content{
            //                 >p {
            //                     font-size:rem(18);
            //                     max-height:84px;
            //                     font-weight:normal;
            //                     line-height:1.56;
            //                 }
            //             }
            //         }

            //     }
            //     &.instagram{ 
            //         .content{
            //             > .author {
            //                 .icon {
            //                     @include instagramIcon();
            //                 }
            //             }
            //             >p {
            //                 font-size:rem(20);
            //                 font-weight:600;
            //                 line-height:1.33;
            //                 max-height:80px;
            //             }
            //         }

            //         &.without__content {
            //             .content{
            //                 padding-top:115px;
            //             }
            //         }
            //     }
            // }

        }
    }
}










.card-sm-wide-mobile{

    @media screen and (max-width: $sm-break-down){
        @include card-sm-wide-base();
        margin-bottom:7vw;


        a.card {
            @include card-image-top(auto, auto);
            height:auto;

            > article {

                > figure{
                    margin-bottom:6px;
                }

                > .content{
                
                
                    > h2{
                        font-size: rem(17);
                        line-height:1.29;
                        margin-top:5px;
                        max-height:44px;
                    }

                    > p.excerpt {
                        display:none;

                    }

                    > .author{
                        display:none;
                        >p {
                            margin: 0;
                            padding: 0;
                            padding-right:5px;
                        }
                    }
                }
            }


            &.without__image {
                .content {
                    h2 {
                        max-height:45px;
                    }
                }
            }  

            &.social {
                .content {
                    .icon {
                        display:none;
                    }

                    >p {
                        max-height:65px;
                        margin-bottom:6px;
                    }
                }

                &.twitter, &.facebook {
                    .content{
                        .icon {
                            width:22px;
                            height:18px;
                            background-size:contain;
                        }
                    }
                }

                &.instagram{ 
                    &.without__content {
                        @include card-image-top(auto, 209px);
                        .author {
                            display:block;
                        }
                    }
                }
                &.without__image {

                    .content {
                        padding-top:31px;
                        .category {
                            margin-bottom:10px;
                        }
                        >p {
                            max-height:90px;
                        }
                        .icon {
                            display:block;
                            position:absolute;
                            bottom:20px;
                        }
                    }
                }
            }
        }
    }
}