body.channel, body.section {



    section {
        @media screen and (min-width: $sm-break) {
            margin-bottom:45px;
        }
        @media screen and (max-width: $sm-break-down) {
            margin-bottom:45px;
        }

    }

    .header {
        div.hk {
            // display:flex;
            h2 {
                font-family:$font-family-serif;
                font-size: rem(46);
                font-weight:bold;
                width:100%;
                color:black;
                clear:both;
                height:60px;
                border-bottom: 1px solid color(mediumgrey);
            }
            p {
                font-family:$font-family-sans-serif;
                font-size: rem(24);
                font-weight:normal;
                width:100%;
                color:color(mediumgrey);
                clear:both;
                height:29px;
            }
        }
  
    }
}